body, html{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    background: #00203ae1;
    color: #ffffff;
}

.container{
    min-height: 100%;
}

.head h2{
    margin-top: 160px;
    text-align: center;
}

.head p{
    text-align: center;
}

.bodyfile{
    display: grid;
    margin: 20px;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.bodyfile .urnm{
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.bodyfile .pswd{
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.bodyfile .btn{
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-weight: 700;
}

.foot{
    margin-top: 50px;
    text-align: center;
}

a{
    color: red;
}